{{$topic := index .Data "topic"}}
<div>
    <form action="/user/posts" method="post">
        Title
        <label>
            <input type="text" name="title">
        </label>
        <br>
        Content
        <label>
            <input type="text" name="content">
        </label>
        <br>
        <label>
            <input type="hidden" name="topic_id" value="{{$topic.ID}}">
        </label>
        <br>
        <input type="submit">
    </form>
</div>
<br>