{{template "base" .}}
{{define "content"}}
<div>
    <form action="/admin/topics" method="post">
        Name
        <label>
            <input type="text" name="name">
        </label>
        <br>
        Description
        <label>
            <input type="text" name="description">
        </label>
        <br>
        <br>
        <input type="submit">
    </form>
</div>
<br>
{{end}}