{{template "base" .}}
{{define "content"}}
 <main role="main" class="inner cover" style="display:flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 class="cover-heading">Explore the Forum.</h1>
    <p style="text-align:center;" class="lead">Lorem ipsum dolor sit amet consectetur adipiscing elit. Sit amet consectetur adipiscing elit quisque faucibus ex. Adipiscing elit quisque faucibus ex sapien vitae pellentesque.</p>
    <p class="lead">
      <a href="/topics" class="btn btn-lg btn-secondary">Get started</a>
    </p>
      </main>
{{end}}