<div>
<form action="/login" method="post">
    Email
    <label>
        <input type="email" name="email">
    </label>
    <br>
    Password
    <label>
        <input type="password" name="password">
    </label>
    <br>
    <input type="submit">
</form>
</div>

<a href="/register">Register</a>