<h1>Posts</h1>
{{range .}}
    <div>
        Author: {{.AuthorId}}<br>
        <a href="/posts/{{.ID}}">{{.Title}}</a><br>
        Was posted: <small>{{.CreatedAt}}</small>
    </div>
    <br>
{{end}}
<div>
    <form action="/posts" method="post">
        <input type="submit">
    </form>
</div>
<br>

<a href="/login">Login</a><br>
<a href="/logout">Logout</a><br>
<a href="/register">Register</a>