{{$topic := index .Data "topic"}}
<h1>{{$topic.Name}}</h1>
<div>
    <p>{{$topic.Description}}</p>
    Was created at: <small>{{$topic.CreatedAt}}</small>
</div>
<a href="/topics/{{$topic.ID}}/posts">Posts</a><br>
<br>
{{if eq .IsAuthenticated false}}
    <a href="/login">Login</a><br>
{{else}}
    <a href="/logout">Logout</a><br>
{{end}}