<h1>Topics</h1>
{{range index .Data "topics"}}
    <div>
        <a href="/topics/{{.ID}}">{{.Name}}</a>
        <p>{{.Description}}<br>
            Was created at: <small>{{.CreatedAt}}</small>
    </div>
    <br>
{{end}}

{{if eq .IsAuthenticated false}}
    <a href="/login">Login</a><br>
{{else}}
    <a href="/logout">Logout</a><br>
{{end}}