<h1>Posts</h1>
{{range .}}
    <div>
        Author: {{.Author}}<br>
        <a href="/posts/{{.ID}}">{{.Name}}</a><br>
        Was posted: <small>{{.CreatedOn}}</small>
    </div>
    <br>
{{end}}
<form action="/posts" method="post">
    <input type="submit">
</form>