<h1>Topics</h1>
{{range .}}
    <div>
        <a href="/topics/{{.ID}}">{{.Name}}</a>
        <p>{{.Description}}<br>
            Was created at: <small>{{.CreatedOn}}</small>
    </div>
    <br>
{{end}}